<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../assets/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1> Read this post! </h1>
                        <hr class="small">
                        <span class="subheading">***</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<header>
<div class="container">
<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-2">
<h2> <%= @post.title %> </h2>


</div>
</div>
</div>
</header>

<article>
<div class="container">
<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-2">

<p> <%= @post.content.html_safe %> </p>

<small> <% @post.created_at %> </small>
              <% if user_signed_in? %>
              <p> <%= link_to "Edit post", edit_post_path(@post) %> | <%= link_to "Delete post", @post, :data => {:confirm => "Are you sure?"}, :method => :delete %> </p>
              <%end%>

<%= render 'new_comment' %>
<%= render 'comments' %>

<% Comment.find(:all, :order => 'created_at DESC', :limit => 10).each do |comment| -%>
    <p>
        <%= comment.text %> on the post <%= comment.post.title %>
    </p>

<% end -%>



</div>
</div>
</div>
</article>